# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Development\Maths_Generator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
